{% extends "layout.html" %}

{% block title %}MTL Party{% endblock %}

{% block main %}
    <main class="container-fluid color-overlay">
        <h1 class="text-center mt-5">MTL PARTY</h1>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-primary mx-auto" style="height: 60px" onclick="checkout()">Reserve your spot now!</button>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 px-5">
                <h2 class="text-center">About us</h2>
                <p class="text-center ">Summer's coming to an end so we decided to throw a party to end it on a high note. There are
                    limited spots available so reserve your spot before there's no space left!
                </p>
                <h3 class="ms-5 mt-5">We include:</h3>
                <ul class="ms-5">
                    <li>A Live DJ</li>
                    <li>Disco Lights</li>
                    <li>Downtown Venue</li>
                    <li>Free Food</li>
                    <li>Free Drinks</li>
                    <li>Free Wi-Fi</li>
                    <li>Easy transportation</li>
                </ul>
            </div>
            <div class="col-lg-6 px-5">
                <h2 class="text-center mt-5">Location</h2>
                <h4 class="text-center px-4">397A Ste. Catherine W street, Montreal QC H3A 2G3</h3>
                <img class="img-fluid mx-auto d-block mb-5" style="border-radius: 50px;" src="static/media/map.png">
            </div>
            <div class="col-12 px-5 d-flex flex-column mt-3">
                <p class="mx-auto">$40 entrance fee</p>
                <button type="button" class="btn btn-primary btn-lg mb-5 mx-auto" style="height: 75px" onclick="checkout()">Reserve your spot now!</button>
                <p class="mx-auto mt-5">contact us at:</p>
                <p class="mx-auto">contact@mtlparty.info</p>
            </div>
        </div>
    </main>

    <script>
        function checkout(){
            document.location.href = "https://buy.stripe.com/00g9DGfJZ8TBcDu145";
        }
    </script>
{% endblock %}