{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
    <main class="container-fluid color-overlay">
        <h1 class="text-center mt-5">MTL PARTY</h1>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-lg btn-primary mx-auto" style="height: 60px">Reserve your spot now!</button>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 px-5">
                <h2 class="text-center">About us</h2>
                <p class="text-center ">We haven't had parties in almost 2 years thanks to covid. Our goal is to host parties for cegep students so we can have fun and bring
                    covid behind us. Our first party will be announced in the coming weeks!
                </p>
                <h3 class="ms-5 mt-5">We include:</h3>
                <ul class="ms-5">
                    <li>A Live DJ</li>
                    <li>Disco Lights</li>
                    <li>Downtown Venue</li>
                    <li>Free Food</li>
                    <li>Free Drinks</li>
                    <li>Easy transportation</li>
                </ul>
            </div>
            <div class="col-lg-6 px-5">
                <h2 class="text-center mt-5">Location</h2>
                <h4 class="text-center px-4">397A Ste. Catherine W street, Montreal QC H3A 2G3</h3>
                <img class="img-fluid mx-auto d-block mb-5" style="border-radius: 50px;" src="static/media/map.png">
            </div>
            <div class="col-12 px-5 d-flex flex-column mt-3">
                <p class="mx-auto">35$ entrance fee</p>
                <button type="button" class="btn btn-primary btn-lg mb-5 mx-auto" style="height: 75px">Reserve your spot now!</button>
            </div>
        </div>
    </main>



{% endblock %}