{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="masthead" style="background-image: url('../static/media/purple_lights.webp'); background-position: center;">
    <main class="container-fluid color-overlay">
        <h1 class="text-center mt-5">MTL PARTY</h1>
        <div class="row mt-5">
            <div class="col-lg-6 px-5">
                <h2 class="text-center">About us</h2>
                <p class="text-center px-5">We haven't had parties in almost 2 years thanks to covid. Our goal is to host parties for cegep students so we can have fun and bring
                    covid behind us. Our first party will be announced in the coming weeks!
                </p>
                <h3 class="ms-5 mt-5">We include:</h3>
                <ul class="ms-5">
                    <li>A Live DJ</li>
                    <li>Disco Lights</li>
                    <li>Downtown Venue</li>
                    <li>Free Food</li>
                    <li>Easy transportation</li>
                </ul>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </main>
</div>



{% endblock %}