<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only, downloaded bootstrap css as a simple solution to customizing colors -->
        <link href="{{ url_for('static', filename='stylesheets/bootstrap.css') }}" rel="stylesheet">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <link href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='media/favicon.svg') }}">
    </head>
    <body class="masthead">
        <div class="img">

        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>